* {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	-webkit-user-drag: none; /* Prevents dragging of images/divs etc */
	user-drag: none;
}
.selected {
	background-color: #ccc;
}
